html, body {
  margin:0;padding:0;
}
#controls-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 4vh;
  box-sizing: border-box;
  height: 9vh;
  text-align: center;
}
#grid-container {
  box-sizing: border-box;
  display: grid;
  height: 75vh;
  width: 75vh;
  border: 1px black solid;
  margin-left: auto;
  margin-right: auto;
}
.cell {
  box-sizing: border-box;
  border: 1px black solid;
}
.cell:hover {
  background-color: aquamarine !important;
}
.white {
  background-color: white;
}
.drawn {
  background-color: blue;
}